{:linters {:invalid-arity                {:skip-args [clamda.macro/defcurry]}
           :missing-docstring            {:level :warning}
           :unsorted-required-namespaces {:level :warning}}
 :lint-as {clamda.macro/defcurry clojure.core/defn
           clamda.macro/defcopy  clojure.core/def}}
