{:linters {:invalid-arity                {:skip-args [localshred.clamda.macro/defcurry]}
           :missing-docstring            {:level :warning}
           :unsorted-required-namespaces {:level :warning}}
 :lint-as {localshred.clamda.macro/defcurry clojure.core/defn
           localshred.clamda.macro/defcopy  clojure.core/def}}
